In [28]:
import pandas as pd
import numpy as np

In [29]:
dataa = pd.read_csv('data.csv', nrows=4000000)

/tmp/ipykernel_113481/472025817.py:1: DtypeWarning: Columns (3,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  dataa = pd.read_csv('data.csv', nrows=4000000)

In [30]:
data = dataa.copy()

In [31]:
missing_values = data.isna().sum()
print(missing_values)

ID                            0
Country                       0
VFN                        3685
Mp                       136729
Mh                            0
Man                           0
MMS                     1000000
Tan                        3238
T                           949
Va                         2680
Ve                         3299
Mk                           25
Cn                           55
Ct                          651
Cr                            0
r                             0
m (kg)                        2
Mt                         9757
Enedc (g/km)            1000000
Ewltp (g/km)               1210
W (mm)                  1000000
At1 (mm)                1000000
At2 (mm)                1000000
Ft                            0
Fm                            0
ec (cm3)                 215320
ep (KW)                    6960
z (Wh/km)                671541
IT                       445527
Ernedc (g/km)           1000000
Erwltp (g/km)            453774
De                      1000000
Vf                      1000000
Status                        0
year                          0
Date of registration          0
Fuel consumption         240645
ech                      581179
RLFI                     759931
Electric range (km)      674532
dtype: int64

In [32]:
data = data.dropna(subset=['Cn', 'Mp'], how='any')
data

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,ech,RLFI,Electric range (km)
0,132188462,DE,IP-MQB37SZ_A0_0558-VSS-1,VOLKSWAGEN,SEAT,SEAT SA,NaN,E9*2007/46*6394*40,5FP,CXDNFCX1,...,1.96,NaN,NaN,F,2023,2023-12-06,9.0,NaN,RL-DQ381_7A_17_020-WVW-1,NaN
1,132188463,DE,IP-MEB31AZ_A0_1913-WVW-1,VOLKSWAGEN,VOLKSWAGEN,VOLKSWAGEN AG,NaN,E1*2018/858*00004*12,E2,4ACEBJAL1FX2,...,NaN,NaN,NaN,F,2023,2023-06-14,NaN,NaN,RL-EQ310_1P_21_003-WVW-1,501.0
2,132188464,DE,IP-0000895-WBA-1,BMW,BMW AG,BAYERISCHE MOTOREN WERKE AG,NaN,E1*2007/46*2017*09,G3K,11FZ,...,1.84,NaN,NaN,F,2023,2023-03-29,5.2,NaN,RL-0100732-WBA-1,NaN
3,132188465,DE,IP-BX72_2021_00007-WF0-1,FORD,FORD WERKE GMBH,FORD-WERKE GMBH,NaN,E9*2007/46*3165*15,J2K,B7JB12X,...,2.00,NaN,NaN,F,2023,2023-12-05,5.7,715/2007*2018/1832AP,RL-B479_2019_00005-WF0-1,NaN
4,132188466,DE,IP-MLB42AZ_B0_0688-WAU-1,VOLKSWAGEN,AUDI AG,AUDI AG,NaN,E1*2007/46*1550*39,FY,XDTPAQ1,...,1.86,NaN,NaN,F,2023,2023-03-20,6.7,NaN,RL-DL382_7A_19_002-WAU-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,118110583,GR,IP-0153-JT1-1,SUBARU-SUZUKI-TOYOTA,TOYOTA MOTOR CORPORATION,TOYOTA MOTOR CORPORATION,NaN,E6*2018/858*00013*03,XPB1F(M),MXPJ10(H),...,NaN,NaN,NaN,F,2023,2023-11-03,4.4,AP,NaN,NaN
999996,118110584,GR,IP-0153-JT1-1,SUBARU-SUZUKI-TOYOTA,TOYOTA MOTOR CORPORATION,TOYOTA MOTOR CORPORATION,NaN,E6*2018/858*00013*03,XPB1F(M),MXPJ10(H),...,NaN,NaN,NaN,F,2023,2023-11-06,4.4,AP,NaN,NaN
999997,118110585,GR,IP-0153-JT1-1,SUBARU-SUZUKI-TOYOTA,TOYOTA MOTOR CORPORATION,TOYOTA MOTOR CORPORATION,NaN,E6*2018/858*00013*03,XPB1F(M),MXPJ10(H),...,0.70,NaN,NaN,F,2023,2023-12-06,5.0,AP,NaN,NaN
999998,118110586,GR,IP-0153-JT1-1,SUBARU-SUZUKI-TOYOTA,TOYOTA MOTOR CORPORATION,TOYOTA MOTOR CORPORATION,NaN,E6*2018/858*00013*03,XPB1F(M),MXPJ10(H),...,0.70,NaN,NaN,F,2023,2023-10-16,4.5,AP,NaN,NaN
999999,118110587,GR,IP-0153-JT1-1,SUBARU-SUZUKI-TOYOTA,TOYOTA MOTOR CORPORATION,TOYOTA MOTOR CORPORATION,NaN,E6*2018/858*00013*03,XPB1F(M),MXPJ10(H),...,NaN,NaN,NaN,F,2023,2023-10-24,4.4,AP,NaN,NaN

In [33]:
price_df = pd.read_csv('autoscout24-germany-dataset.csv')

In [34]:
missing_values = data.isna().sum()
print(missing_values)

ID                           0
Country                      0
VFN                         87
Mp                           0
Mh                           0
Man                          0
MMS                     863271
Tan                          2
T                            0
Va                           0
Ve                           2
Mk                           0
Cn                           0
Ct                          15
Cr                           0
r                            0
m (kg)                       0
Mt                        5869
Enedc (g/km)            863271
Ewltp (g/km)                65
W (mm)                  863271
At1 (mm)                863271
At2 (mm)                863271
Ft                           0
Fm                           0
ec (cm3)                140620
ep (KW)                   6685
z (Wh/km)               636929
IT                      325104
Ernedc (g/km)           863271
Erwltp (g/km)           333296
De                      863271
Vf                      863271
Status                       0
year                         0
Date of registration         0
Fuel consumption        159036
ech                     518311
RLFI                    638354
Electric range (km)     639750
dtype: int64

In [35]:
import pandas as pd
import re

def normalize_name(s):
    """Нормализация названий с сохранением структуры для частичных совпадений"""
    s = str(s).lower().strip()
    s = re.sub(r'[-_]', ' ', s)  # Заменяем дефисы и подчеркивания на пробелы
    s = re.sub(r'\s+', ' ', s)   # Удаляем множественные пробелы
    return s


# Нормализация названий
data['mk_norm'] = data['Mk'].apply(normalize_name)
data['cn_norm'] = data['Cn'].apply(normalize_name)

price_df['make_norm'] = price_df['make'].apply(normalize_name)
price_df['model_norm'] = price_df['model'].apply(normalize_name)

# Создаем словарь для поиска цен
price_dict = price_df.groupby(['make_norm', 'model_norm'])['price'].mean().to_dict()

def find_best_match(target_make, target_model):
    """Поиск лучшего совпадения модели"""
    matches = []
    
    for (make, model), price in price_dict.items():
        if make == target_make:
            # Проверяем частичное совпадение
            if target_model in model or model in target_model:
                matches.append(price)
    
    return int(sum(matches)/len(matches)) if matches else None

# Добавляем цены с учетом частичных совпадений
data['price'] = data.apply(
    lambda row: find_best_match(row['mk_norm'], row['cn_norm']), 
    axis=1
)

# Фильтрация и удаление дубликатов
result = (
    data
    .dropna(subset=['price'])  # Удаляем строки без цены
    .drop_duplicates(subset=['Mk', 'Cn'], keep='first')  # Уникальные комбинации
     # Выбираем нужные колонки
)

In [ ]:
np.random.seed(42)  # Для воспроизводимости

# Создаем значения с нормальным распределением (среднее = 2.6, std = 0.3)
frontal_area = np.random.normal(loc=2.6, scale=0.3, size=len(result))

# Обрезаем значения до диапазона [2.0, 3.2] и округляем
frontal_area = np.clip(frontal_area, 2.0, 3.2).round(1)

# Добавляем столбец в DataFrame
result["frontal_area_m2"] = frontal_area
result.to_csv('data_with_prices.csv', index=False)
print("Данные успешно сохранены в data_with_prices.csv")

Данные успешно сохранены в data_with_prices.csv